.box1{
    background-color: rgb(255, 99, 71,0.2);
}
.box2{
    background-color: limegreen;
}
.box3{
    background-color: darkviolet;
}
.box4{
    background-color: red;
}
.box5{
    background-color: rgb(100, 149, 237,0.4);
}
.box6{
    background-color:aquamarine;
}
