* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(244, 212, 103, 0.9);
  height: 100vh;
}

.lang-card.hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.lang-logo {
  transition: transform 0.5s;
}

.lang-card:hover .lang-logo {
  transform: scale(1.2);
}
